{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxBracketSameLine": true,
  "importOrder": [
    "^react",
    "^[a-z]",
    "^@",
    "^\\.\\.(?!/?$)",
    "^\\.\\./?$",
    "^\\./(?=.*/)(?!/?$)",
    "^\\.(?!/?$)",
    "^\\./?$",
    "^./style$",
    "^\\u0000"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
